**/bin
**/obj
**/.vs
**/.idea
**/.git
**/.gitignore
**/.dockerignore
**/Dockerfile
**/docker-compose*.yml
**/*.user
**/*.suo
**/aegis*.db
**/aegis*.db-*
**/logs/
**/data/
**/tests/
README.md
LICENSE.md
